
body {
    margin: 0;
    padding: 0;
    background-image: url('kkebeb1.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Verdana', sans-serif; /*czcionka */
    color: black;
}

/* Styl głównego nagłówka */
h1 {
    font-family: 'Georgia', serif; /* Elegancka czcionka dla h1 */
    font-size: 3em;
    color: #13096d; 
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px; /* Dodane odstępy między literami */
    text-transform: uppercase; /* Zmienia tekst na wielkie litery */
}

/* Styl dla tekstu akapitów w h2 */
h2 p {
    font-size: 1.2em;
    line-height: 1.8;
    color: black; 
}

/* Styl dla listy składników */
ul {
    list-style-type: disc; /* Zmieniony styl wypunktowania */
    padding-left: 40px;
}

ul li {
    font-size: 1.2em;
    color: #2cb13d; /* Zmieniony kolor na ciemny niebieski */
    margin-bottom: 10px;
}

/* Styl dla przepisu (lista numerowana) */
ol li {
    font-size: 1.2em;
    color: #2c3e50; /* Ten sam ciemny niebieski dla spójności */
    margin-bottom: 10px;
}

/* Styl dla linku do lokali */
a {
    font-size: 1.5em;
    color: #aa0866; /* Czerwony kolor linków, aby pasował do nagłówków */
    text-decoration: none;
}

a:hover {
    color: #3498db; /* Kolor zmienia się na jasnoniebieski po najechaniu */
}

/* Styl dla sekcji z tekstem o lokalach */
h2 a {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    line-height: 1.8;
    color: #333;
}
